<a href="https://colab.research.google.com/github/conchincradle/leetcode/blob/main/string_basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# string
#### upper, lower, swapcase
####  find, rfind, isdigit, split, splitlines
#### lstrip, rstrip, strip
#### join, translate, replace

In [5]:
s = "Mike"
print(s[1:3]+' 1'*2) # Mike 1 1
'M' not in s # False

ik 1 1

False

In [67]:
'mike'.capitalize() # Mike
'MIKE'.casefold() # mike
'Mike'.center(10,'*') # ***Mike***   9--***Mike**

'aaaabbbb'.count('aa',0,4) # 2
'aaaabbbb'.count('aa',0) # 2
'aaaabbbb'.count('aa') # 2

# encode, decode

'Mike'.endswith('e') # True start, end
'Mike'.startswith('M',1) # False, 0--True

# expandtabs 

'Mike'.find('e') # 3
'Mike'.find('e',1) # 3
'Mike'.find('z') # -1
'Mike'.find('e',-1) # 3
'Mike'.find('e',0,4) # 3
# s.index 一样，但是会抛出异常，而不是-1

"{} {} {}".format('1','2','3') # 1 2 3
"{0} {1} {0}".format('1','2','3') # 1 2 1

person = {'name':"Mike",'age':30}
'name: {name}, age: {age}'.format(**person) # name: Mike, age: 30
'name: {name}, age: {age}'.format_map(person) # name: Mike, age: 30

person = ['Mike',30]
"name: {0[0]} age: {0[1]}".format(person) # name: Mike, age: 30
# {0.value}-----self.value in class

'{:.2f}'.format(3.1415) # 3.14  其他的需要的时候查文档

''.isalnum() # False at least 1
'a1'.isalnum() #True all alphabets and numbers
'a'.isalpha() #True
'13'.isdecimal() #True
'12'.isdigit() #True

'mike is 11'.islower() #True 字符都是小写
# isupper

max("zzZxc") # z
min("AazZ") # A
"Mike".replace("M",'m') # mike

intable = "abcd"
outtable = "1234"
trantab = str.maketrans(intable,outtable)
'abcd1234'.translate(trantab) # 12341234

"*".join("1234") # 1*2*3*4

'1*2*3*4'

In [73]:
# clear non alpha
word = "12ab12ba,,  --"
newword = [ _ for _ in word if _.isalpha()] # 极为重要 
print(newword) # ['a', 'b', 'b', 'a']
# palindrome
flag = True
left, right = 0, len(newword)-1 
while(left<right):
  if newword[left] != newword[right]:
    flag = False
    break
  left  += 1
  right -= 1
flag
# 另外一种就是判断都是数字字母，然后不区分大小写，leetcode 125
# 直接upper，不会影响其他字符
'1a'.upper() # 1A

'1A'